{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block sidebar %}{% endblock %}

{% block body %}

<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">Comptes mensuels</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Faire ses comptes est indépendant de faire un budget. Autrement dit, vous pouvez simplement commencer par tracer vos revenus et vos dépenses sans avoir de budget précis. Le plus important, dans tous les cas, c'est de commencer.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <a href="{{ path('login') }}"><button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Se connecter</button></a>
            <a href="{{ path('logout') }}"><button type="button" class="btn btn-outline-secondary btn-lg px-4">Se déconnecter</button></a>
        </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
        <div class="container px-5">
            <img src="{{ asset('build/images/account_homepage.jpg') }}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
        </div>
    </div>
</div>
<home><home>

{% endblock %}
